{% extends "base.html" %}

{% block bodycontent %}
<body>
<center>
<section>
  <h1>Vene Per Porta</h1>
</section>

<form name="input" class="pure-form" action="/logging" method="POST">
 <input type="text" class="pure-input-rounded" name="username" placeholder="Nomen">
 <br><br>
 <input type="text" class="pure-input-rounded" name="password" placeholder="Vestra Res">
 <br><br>
<input type="submit" value="Submit" class="button-submit pure-button">
<input type="submit" value="Register" class="button-submit pure-button">
</form>
<br>
<br>

<a class="pure-button" href="/cladius">Primus Locus</a>
<a class="pure-button" href="/register">Sribe Nomen Tui</a>
<a class="pure-button" href="/caligula">Infandus Locus</a>
<a class="pure-button" href="/dogs">Locus Canorum</a>
</center>
</body>
{% endblock bodycontent %}
