{% extends "base.html" %}

{% block bodycontent %}

<body>
<center>
<section
  <h1> Scribe Nomen Tui </hi>
</section>
<br><br>

{% if success is defined %}
  {% if success is True %}
  <h2> You Have Been Registered, Log On In!</h2>
  {% else %}
  <h2> There was an issue with your registration, please try again. </h2>
  {% endif %}
{% endif %}

<form name="input" class="pure-form" action="/registering" method="POST">
  <input type="text" class="pure-input-rounded" name="username" placeholder="Nomen">
  <br><br>
  <input type="text" class="pure-input-rounded" name="password" placeholder="Vestra Res">
  <br><br>
  <input type="submit" value="Register" class="button-submit pure-button">
</form>



{% endblock bodycontent %}
